{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"}
]}.

{relx, [{release, {erl_fenix_auto, "0.1.0"},
         [erl_fenix_auto,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [
      %% prod is the default mode when prod
      %% profile is used, so does not have
      %% to be explicitly included like this
      {mode, prod},

      {include_erts, true},
      {debug_info, strip},
      {dev_mode, false},
      {include_src, false},
      {system_libs, true},
      {extended_start_script, true}

      %% use minimal mode to exclude ERTS
      %% {mode, minimal}
    ]}
  ]}
]}.
